/* main title text:
 font-family: "Montserrat Subrayada"*/
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap");

/* sub title text - h2, h3:
font-family: "Fredericka the Great"*/
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

/* normal text: 
font-family: "Barlow Semi Condensed" */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");

* {
  padding: 0 0 0 0;
  margin: 0px;
}

.App {
  text-align: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2vmin;
}

main {
  padding-left: 10%;
  padding-right: 10%;
}

body {
  background-color: #ecfffb;
}
/* TITLES */

h2 {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 4vmin;
  text-decoration: none;
  padding: 20px;
}

h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3vmin;
  text-decoration: none;
  padding: 20px;
}

h4 {
  padding: 20px;
}

/* LINKS */

a:link {
  color: #299984;
}
a:visited {
  color: #297699;
}
a:hover {
  color: #333;
}
a:active {
  color: blue;
}

/* LISTS */

li {
  text-align: center;
}
ul {
  list-style-type: none;
}
/* HOMEPAGE */

/* ARTICLE CARDS */

.ArticleCard {
  text-align: center;
  display: grid;
  grid-template-columns: 4fr 1fr;
  border: solid;
  border-width: thin;
  margin-bottom: 1vmin;
  margin-top: 0.5vmin;
}

.ArticleCard-titleAuthorTopic {
  display: flex;
  flex-direction: column;
  font-size: 2vmin;
  padding: 0.5vmin;
  background-color: white;
}
.ArticleCard-titleAuthorTopic:hover {
  background-color: #ecfffb;
}
.ArticleCard-title {
  font-family: "Barlow Semi Condensed";
}

.ArticleCard-commentsVotesTime {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  font-size: 2vmin;
}

/*SINGLE ARTICLE */

.SingleArticle-title {
  font-family: "Barlow Semi Condensed";
  margin-top: 1vmin;
}
.SingleArticle-body {
  text-align: left;
}
.SingleArticle-info {
  text-align: left;
  margin-top: 1.5vmin;
}

/* POST COMMENT */

.AddComment {
  text-align: left;
}
.AddComment-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  font-size: 1.5vmin;
  text-align: start;
}
.AddComment-button {
  display: flex;
  flex-direction: column;
}

.AddComment-input:hover {
  background-color: rgba(169, 196, 212, 0.335);
}

/* COMMENT CARD */

.CommentCard {
  display: grid;
  grid-template-columns: 7fr 1fr;
  text-align: left;
  border-top: solid;
  border-color: #45ffdc;
  margin: 1vmin;
  font-size: 1.6vmin;
}

.CommentCard-left {
  position: relative;
}

.CommentCard-author {
  font-size: 1.4vmin;
  color: #299984;
}

/* VOTING BUTTONS */
.Voting {
  margin: 1vmin;
}
.Voting-number {
  margin: 1vmin;
}

/* NAVBAR, HEADER, LOGIN FORM  */

.MainHeader-title {
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 5vmin;
  font-family: "Montserrat Subrayada", sans-serif;
}

.MainHeader-title:link {
  text-decoration: none;
}

.navHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header-title navButtons navLoginForm";
}

.navLinks:link {
  font-size: 5vmin;
  text-decoration: none;
  font-family: "Fredericka the Great";
}

.navLinks:visited {
  color: #333;
}
.loginForm-text {
  color: #333;
  font-size: 3vmin;
}

.loginForm-dropdown {
  font-size: 2vmin;
}

form {
  font-size: 3vmin;
}

.navButton:hover {
  background-color: #555;
  color: white;
}

nav {
  background-color: #45ffdc;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: none;
}

nav li {
  border: none;
}

button:hover {
  background-color: #299984;
  color: white;
}

button {
  font-size: 1.5vmin;
  padding: 0.5vmin;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 600px) {
  nav ul {
    display: grid;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header-title  navButtons "
      ". navLoginForm";
  }

  .navLoginForm {
    grid-template: "navLoginForm";
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
  }
}
